<div class="infopanel" id="infopanel">
  <div class="infoClose" (click)="out()">Close</div>
  <div class="cards">
    <div class="card">
        <div class="image">
          <img src="test.png" alt="">
        </div>
        <div class="text">
          Create style using the settings
        </div>
    </div>
    <div class="card">
      <div class="image">
        <img src="test2.png" alt="">
      </div>
      <div class="text">
        press the export css button
      </div>
  </div>
  <div class="card">
    <div class="image">
      <img src="test3.png" alt="">
    </div>
    <div class="text">
      go to obs click on your source media and copy paste the generated css into the custom css area
    </div>
</div>
  </div>
</div>
