
.overlay {
    /* left: 0; */
    /* overflow: hidden; */

}



.widget {
    border: none;
    overflow: hidden;
    position: absolute;
}

.chat-theme{
    border-radius: 5px;
    display: block;
    height: 100%;
}



.chat-line, .twitch-chat {
    overflow: hidden;
    padding-bottom: 3px;
    position: relative;
    width: 100%;
}
.twitch-chat{
    height: 100%;
}

.chat-line, .twitch-chat {
    overflow: hidden;
    padding-bottom: 3px;
    position: relative;
    width: 100%;
}



.chat-line {
    line-height: 1.3;
    margin: 0.1em 0;
    padding-top: 2px;
    word-break: break-word;
    z-index: 2;
}


.chat-line .username {
    font-weight: 700;
}


.chat-line:not(.action) .colon {
    margin-right: 0.2em;
    opacity: 0.85;
}

.chat-line {
    line-height: 1.3;
    margin: 0.1em 0;
    padding-top: 2px;
    word-break: break-word;
    z-index: 2;
}

