.section{
  width: 100%;
  height: 100%;
  background-color: #0C7489;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section2{
  width: 100%;
  height: 100%;
  position: relative;
  background-color: #D7D9CE;
}
.half{
  width: 100%;
  height: 50%;
  position: relative;
  background-color: #D7D9CE;
}
.diagonal{
  height: 50%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;


}
