<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>

  <div class="section">
      

  </div>

  <div class="section2">
    <svg class="diagonal" preserveAspectRatio="none" viewBox="0 0 100 100" > <polygon points="0 0, 300 200, 300 0" fill="#0C7489"></polygon></svg>


  </div>
  <div class="section">
    <svg class="diagonal" preserveAspectRatio="none" viewBox="0 0 100 100" >   <polygon points="0 0, 300 200, 300 0" fill="#D7D9CE"></polygon> </svg>


  </div>
  <div class="half">
    <svg class="diagonal" preserveAspectRatio="none" viewBox="0 0 100 100" >  <polygon points="0 0, 300 200, 300 0" fill="#0C7489"></polygon> </svg>




  </div>

</body>
</html>
