@for (section of sections; track $index) {
  <div class="section">
    <div class="header">
        {{section}}
        <button (click)="isOpen[$index] = !isOpen[$index]">close</button>
    </div>
    @if (isOpen[$index]) {
        <div class="styles" >

            <div class="style" *ngFor="let style of styles[$index] | keyvalue;">
              <div class="style-header">
                  {{style.key}}
              </div>
              <div class="style-body">
                  <input  [(ngModel)]="this.styles[$index][style.key+'']" type="color" name="" id="">
              </div>
          </div>
        </div>
    }
</div>
}



<button (click)="updateStyle()">update</button>
