
<form  [formGroup]="stylesForm">
  @for(form of stylesForm.controls|keyvalue;track $index){
    <div class="section">
      <div class="header">
        {{form.key | titlecase}}
        @if (isOpen[$index]) {

          <div class="downButton" (click)="isOpen[$index] = !isOpen[$index]" style="float: right;">-</div>
        } @if (!isOpen[$index]) {
          <div class="downButton" (click)="isOpen[$index] = !isOpen[$index]" style="float: right;">+</div>

        }
      </div>
      @if (isOpen[$index]) {
        <div class="styles" >

          <div class="style" *ngFor="let style of form.value.controls| keyvalue;">
            <div class="style-header">
              {{style.key}}
            </div>
            <div class="style-body">
              <app-form-inputs [formGroupName]="form.key" [formGroup]="stylesForm"  [controlname]="style.key"></app-form-inputs>
            </div>
          </div>
        </div>
      }
    </div>
  }
</form>


